.teksts {
display: flex;
padding: 16px 32px 8px;
margin: 8px 12px;
background-color: #00ffff;
font-family: 'Courier New', Courier, monospace;
font-size: 32px;
}
.arejaKaste {
    border-style: dotted
    border-color: green;
    background-color: #ff66cc;
    padding: 10px 10px 10px 10px;
    margin: 50px 20px 50px 20px;
    width: 60%;
}
.button1 {
    background-color: white;
    color: black;
    border: 2px solid #3366ff;
    padding: 10px 20px;
    text-align: center;
    text-decoration: underline overline;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
}

.button1:hover {
    background-color: #66ccff;
    color: red;
}

.button2 {
    background-color: white;
    color: black;
    border: 2px solid #ff0000;
    padding: 10px 20px;
    text-align: center;
    text-decoration: underline overline;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
}

.button2:hover {
    background-color: #cc0000;
    color: red;
}
